<!-- HEADER -->
<div id="header" class="w-full flex   bg-[#96bcf1]">
  <div class="Header flex-auto  w-full  flex items-center  justify-between p-1">
<div class="justify-between">
<nav class="flex gap-2 p-2 w-f">

<div class="flex  gap-4 justify-between bg-[#EAF2FD]" >
  <div class="Inicio text-center text-[#24292f] text-[15px] font-normal font-['Noto Sans'] leading-normal">Inicio</div>
  <div class="Clientes text-center text-[#24292f] text-[15px] font-normal font-['Noto Sans'] leading-normal">Clientes</div>
  <div class="Productos text-center text-[#24292f] text-base font-normal font-['Noto Sans'] leading-normal">Productos</div>
  <div class="Ventas text-center text-[#24292f] text-base font-normal font-['Noto Sans'] leading-normal">Ventas</div>
  <div class="Reportes left-[279.33px] top-[5px]  text-[#24292f] text-[15px] font-normal font-['Noto Sans'] leading-normal">Reportes</div>


</div>
    </nav>
    </div>
    <div  alt="Avatar" class="DAvatars1 w-[77px] h-[79px]  top-[5px]  flex-col justify-center items-center inline-flex">
      <img class="Avatars3dAvatar1 w-[77px] h-[79px]" src="https://via.placeholder.com/77x79" />
    </div>
</div>
</div>
<!-- HEADER -->
